@import "tailwindcss";

@theme {
  --color-primary: #ef4444;
  --color-secondary: #3b82f6;
  --color-dark: #1f2937;
  --color-light: #f3f4f6;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}